<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>WEhDMQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change XHC1 to XHC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change XHCI to XHC</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixDarwin</key>
				<false/>
				<key>AddMCHC</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>#DropOEM_DSM</key>
			<dict>
				<key>USB</key>
				<true/>
				<key>SmBUS</key>
				<false/>
				<key>ATI</key>
				<true/>
				<key>HDMI</key>
				<true/>
				<key>LAN</key>
				<true/>
				<key>IntelGFX</key>
				<true/>
				<key>WIFI</key>
				<true/>
				<key>LPC</key>
				<false/>
				<key>Firewire</key>
				<true/>
				<key>IDE</key>
				<true/>
				<key>NVidia</key>
				<true/>
				<key>HDA</key>
				<true/>
				<key>SATA</key>
				<true/>
			</dict>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Debug</key>
		<true/>
		<key>Arguments</key>
		<string>dart=0 -lilubetaall keepsyms=1 debug=0x100 -v vsmcgen=1</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>10</integer>
		<key>DefaultVolume</key>
		<string>06FB0163-59F8-46BA-9465-7DAA35F85887</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>PlayAsync</key>
		<true/>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
			<string>Recovery</string>
			<string>grub</string>
			<string>preboot</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>ScreenResolution</key>
		<string>1920x1200</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Speed</key>
			<integer>8</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>evilgen</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#HWPEnable</key>
		<true/>
		<key>#TDP</key>
		<integer>95</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#TurboDisable</key>
		<true/>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#Type</key>
		<string>0x0201</string>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>Inject</key>
			<integer>7</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>IMEI</key>
			<string>0x0</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>IntelGFX</key>
			<string>0x12345678</string>
			<key>XHCI</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x0</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>BwAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AwCSPg==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>NameEH00</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>TRIM Enabler</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RFZELVJXICBEVlItMTA1</data>
				<key>Name</key>
				<string>PioneerSuperDrive</string>
				<key>Replace</key>
				<data>QkQtUlcgICBCRFItMjA5</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>PioneerBD-RW No Sleep</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
		</array>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x00</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF576</string>
		<key>Board-ID</key>
		<string>Mac-63001698E7A34814</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>IM191.88Z.F000.B00.1904222222</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>Family</key>
		<string>iMac</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02918700GUKGQGUE</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>iMac19,2</string>
		<key>SmUUID</key>
		<string>3BC3DC68-8E20-42CA-8939-F95286A18A3F</string>
		<key>Mobile</key>
		<false/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>220.260.170.0.0</string>
		<key>SerialNumber</key>
		<string>C02YN0CEJWDW</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>04/22/2019</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>PanicNoKextDump</key>
		<true/>
		<key>LapicKernelPanic</key>
		<false/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>XhciPortLimit</key>
		<false/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DisableRtcChecksum</key>
		<true/>
		<key>DisableIoMapper</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>AppleXcpmCfgLock</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<true/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>CustomSMBIOSGuid</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>RebuildAppleMemoryMap</key>
		<true/>
		<key>AppleCpuPmCfgLock</key>
		<true/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>SignalAppleOS</key>
		<false/>
	</dict>
</dict>
</plist>